.active-like {
  background-color: blue;
}

.active-dislike {
  background-color: red;
}

.button {
  border-radius: 8px;
  font-size: 20px;
  color: black;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}