.div_locationDetails-container {
  display: flex;
  flex-direction: column;
}

.div_locationDetails-description {
  margin: 1rem
}

.div_locationDetails-reviews {
  margin: 1rem;
}

.div_locationDetails-Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div_locationDetails-Nav-item {
  padding-left: 5rem;
  padding-right: 5rem;
}