.MapList_div-styling {
  list-style-type: none;
  margin: 1rem
}

.div_mapList-locations{
  display:flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 1rem;
  /* text-align:center */
}

.div_mapList-location-image {
  margin: 1rem
}

.div_MapList-search {
  border: 1px solid black;
  height: 3rem
}

.div_MapList-ul-itemList {
  margin: 0px;
  padding: 0px;
  border: 0px;
  
}