.MapList_div-styling {
  list-style-type: none;
}

.div_mapList-locations {
  display: flex;
  flex-direction: row;
}

.div_mapList-location-image {
  margin: 1rem
}

.div_MapList-search {
  border: 1px solid black;
  height: 3rem
}

.div_MapList-ul-itemList {
  margin: 0px;
  border: 0px;
}

.div_mapList-location-description-splitdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.div_mapList-location-description {
  width: 90%
}