

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap');

/* :root { 
  /* fonts */
  /* --font-roboto: Roboto;
  --font-inter: Inter;  */
  /* --font-montserrat: Montserrat;
  font-family: 'Bungee', cursive;
font-family: 'Source Sans Pro', sans-serif;
} */ */
/* body {
  margin: 0;
  line-height: normal;
}


  /* font sizes */
  /* --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-sm: 14px; */

  /* Colors */
  /* --color-white: #fff; */
  /* --color-black: #000; */
  /* --color-dimgray: #70757a;
  --color-gainsboro-100: #e1e4ea; */

  /* border radiuses */
  /* --br-9xs: 4px;
} */

