.navbar_container-ul {
  list-style-type: none;
  display: flex;
}

.navbar_container-il {
  padding: 1em;
}

.navbar{
  width : 100%;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  border: 1px solid indigo
}

.div_main {
  display: flex;
  flex-direction: row;
}

.div_main_left {
  width:50%;
  border: 1px solid blue;
}

.div_main_right {
  width:50%;
  border: 1px solid red;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
